<div>

<h3>Accede</h3>

<form action="/auth/login" method="POST">

    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" >
<br>
    <label for="password">Contraseña</label>
    <input type="password" name="password">

    <p>{{errorMessage}}</p>
<br>
    <button>Accede</button>


</form>

</div>