<div>

    <h3>Bienvenido a tu perfil</h3>
    <p>Esta es tu informacion:</p>
    <p>Nombre: {{userDetails.username}}</p>
    <img src= "../public/images/silvanas.png"alt="gato"width="300px">
    <br>
    <a href="/main/private">Ir a la seccion privada</a>
    <a href="/" >Vuelve a inicio </a>
    

</div>